@page "/admin"

<h3>Admin</h3>

<style>
    .active-tab {
        background-color: lightgreen;
    }

    .nav-tabs > li > a {
        margin-right: 50px;
    }
</style>

<div class="container">
    <ul class="nav nav-tabs">
        <li class="@((ActiveTab == "Tab1") ? "active-tab" : "")"><a @onclick='() => SetActiveTab("Tab1")'>Eligible Domains</a></li>
        <li class="@((ActiveTab == "Tab2") ? "active-tab" : "")"><a @onclick='() => SetActiveTab("Tab2")'>Eligible Emails</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane @((ActiveTab == "Tab1") ? "active" : "")" id="tab1">
            Content for Tab 1 goes here.
        </div>
        <div class="tab-pane @((ActiveTab == "Tab2") ? "active" : "")" id="tab2">
            Content for Tab 2 goes here.
        </div>
    </div>
</div>

@code {
    private string ActiveTab { get; set; } = "Tab1";

    private void SetActiveTab(string tabName)
    {
        ActiveTab = tabName;
    }
}
